<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- BS 4.6.2 CSS-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>

            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="nav nav-pills">
  <!-- <li class="nav-item">
    <a class="nav-link active btn-default" data-toggle="pill" href="#tabTopClothes">Áo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Quần</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Giày dép</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Túi xách</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Dây chuyền</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Kiểu tóc</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Nền</a>
  </li> -->
</ul>

          <div class="well">
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane container active" id="tabTopClothes">
                <!-- <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="card text-center">
                        <img src="../assets/images/clothes/topcloth1_show.jpg" alt="">
                        <h4>Top Cloth 1</h4>
                        <button>Thử đồ</button>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card text-center">
                        <img src="../assets/images/clothes/topcloth2_show.jpg" alt="">
                        <h4>Top Cloth 2</h4>
                        <button>Thử đồ</button>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card text-center">
                        <img src="../assets/images/clothes/topcloth3_show.jpg" alt="">
                        <h4>Top Cloth 3</h4>
                        <button>Thử đồ</button>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card text-center">
                        <img src="../assets/images/clothes/topcloth4_show.jpg" alt="">
                        <h4>Top Cloth 4</h4>
                        <button>Thử đồ</button>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card text-center">
                        <img src="../assets/images/clothes/topcloth5_show.jpg" alt="">
                        <h4>Top Cloth 5</h4>
                        <button>Thử đồ</button>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card text-center">
                        <img src="../assets/images/clothes/topcloth6_show.jpg" alt="">
                        <h4>Top Cloth 6</h4>
                        <button>Thử đồ</button>
                      </div>
                    </div>
                    
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contain">
            <div class="body"></div>
            <div class="model"></div>
            <div class="hairstyle"></div>
            <div class="necklace"></div>
            <div class="bikinitop"></div>
            <div class="bikinibottom"></div>
            <div class="handbag"></div>
            <div class="feet"></div>
            <div class="background"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JQUERY -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- BS 4.6.2 JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script>
    <script src="./../controllers/main.js"></script>
  </body>
</html>
